// app global css in SCSS form
.font-vazir {
  font-family: Vazirmatn, Roboto, serif;
}

.blur {
  backdrop-filter: blur(12px);
}

body {
  background: white !important;
}

html[dir="rtl"], [dir="rtl"] body, [dir="rtl"] #q-app {
  font-family: Vazirmatn, "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.sticky-last-col {
  thead tr:last-child th:last-child {
    /* bg color is important for th; just specify one */
    background-color: antiquewhite;
  }

  td:last-child {
    background-color: antiquewhite;
  }

  th:last-child,
  td:last-child {
    position: sticky;
    right: 0;
    z-index: 1;
  }
}
