// app global css in SCSS form
.font-vazir {
  font-family: Vazirmatn, Roboto, serif;
}

.blur {
  backdrop-filter: blur(12px);
}

body {
  background: white !important;
}

html[dir="rtl"], [dir="rtl"] body, [dir="rtl"] #q-app {
  font-family: Vazirmatn, "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
